<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Developer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/developer.css">
    <script src="/static/util/developer.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>
<body>

<div id="react"></div>

<div class="container">
    <h2>My projects</h2>

    <!--Header of collapse table-->
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">

                    <!--Title of collapse table-->
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Collapsible Group 1</a>
                    <label class="pull-right"><input type="checkbox" value="">only my tasks</label>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">

                <!--Body of collapse table-->
                <div class="panel-body">
                    <table class="table table-hover" id="task-table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Task</th>
                            <th>Assignee</th>
                            <th>Status</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Site Wireframes</td>
                            <td>John Smith</td>
                            <td>in progress</td>
                            <td>
                                <p data-placement="top" data-toggle="tooltip" title="Edit">
                                    <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
                                            data-target="#edit"><span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Mobile Landing Page</td>
                            <td>Kilgore Trout</td>
                            <td>completed</td>
                            <td>
                                <p data-placement="top" data-toggle="tooltip" title="Edit">
                                    <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
                                            data-target="#edit"><span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>+</td>
                            <td><input placeholder="Description"></td>
                            <td>
                                <select name="assignee" id="assignee">
                                    <option value="Bred">Bred</option>
                                    <option value="Bob">Bob</option>
                                    <option value="Bryan">Bryan</option>
                                </select>
                            </td>
                            <td>
                                <select name="status" id="status">
                                    <option value="WAITING">WAITING</option>
                                    <option value="IMPLEMENTATION">IMPLEMENTATION</option>
                                    <option value="VERIFYING">VERIFYING</option>
                                    <option value="RELEASING">RELEASING</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Edit-->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Change Status</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <select name="status" id="status">
                            <option value="WAITING">WAITING</option>
                            <option value="IMPLEMENTATION">IMPLEMENTATION</option>
                            <option value="VERIFYING">VERIFYING</option>
                            <option value="RELEASING">RELEASING</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-warning btn-lg" style="width: 100%;">
                        <span class="glyphicon glyphicon-ok-sign"></span> Update
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--Script for Searching-->
    <script>
        $(document).ready(function () {
            $('.filterable .btn-filter').click(function () {
                let $panel = $(this).parents('.filterable'),
                    $filters = $panel.find('.filters input'),
                    $tbody = $panel.find('.table tbody');
                if ($filters.prop('disabled') === true) {
                    $filters.prop('disabled', false);
                    $filters.first().focus();
                } else {
                    $filters.val('').prop('disabled', true);
                    $tbody.find('.no-result').remove();
                    $tbody.find('tr').show();
                }
            });

            $('.filterable .filters input').keyup(function (e) {
                /* Ignore tab key */
                let code = e.keyCode || e.which;
                if (code == '9') return;
                /* Useful DOM data and selectors */
                let $input = $(this),
                    inputContent = $input.val().toLowerCase(),
                    $panel = $input.parents('.filterable'),
                    column = $panel.find('.filters th').index($input.parents('th')),
                    $table = $panel.find('.table'),
                    $rows = $table.find('tbody tr');
                /* Dirtiest filter function ever ;) */
                let $filteredRows = $rows.filter(function () {
                    let value = $(this).find('td').eq(column).text().toLowerCase();
                    return value.indexOf(inputContent) === -1;
                });
                /* Clean previous no-result if exist */
                $table.find('tbody .no-result').remove();
                /* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
                $rows.show();
                $filteredRows.hide();
                /* Prepend no-result row if all rows are filtered */
                if ($filteredRows.length === $rows.length) {
                    $table.find('tbody').prepend($('<tr class="no-result text-center"><td colspan="' + $table.find('.filters th').length + '">No result found</td></tr>'));
                }
            });
        });
    </script>
</div>

</body>
</html>