<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style>
    body {
      background-color: #ffffff;
    }

    .centered-form {
      margin-top: 10%;
    }

    .centered-form .panel {
      background: rgba(255, 255, 255, 0.8);
      box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Simple Task Tracker</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Login</h3>
        </div>
        <div class="panel-body">

          <div th:if="${param.error}" style="color: red">
            Invalid username or password.
          </div>
          <div th:if="${param.logout}">
            <strong>You have been logged out.</strong>
          </div>

          <form role="form" th:action="@{/login}" method="post">
            <div class="form-group">
              <input type="text" name="username" id="username" class="form-control input-sm"
                     placeholder="Email Address">
            </div>
            <div class="form-group">
              <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
            </div>
              <input type="submit" value="Login" class="btn btn-success btn-block">
              <a th:href="@{/registration}" class="btn btn-info btn-block">Register Now</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>